{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<div class="text-center">

    <!-- MAIN CARD -->
    <div class="card mx-auto shadow-lg border-0"
         style="background-color:#1e1e1e; color:white; width: 420px; 
                padding:25px; border-radius:16px;">

        <!-- CIRCLE ICON -->
        <div class="mx-auto mb-3"
             style="width:110px; height:110px; 
                    background:#0d6efd; 
                    border-radius:50%; 
                    display:flex; 
                    align-items:center; 
                    justify-content:center;
                    box-shadow:0 0 15px rgba(0,0,0,0.6);">
            
            <!-- Bootstrap icon -->
            <i class="bi bi-receipt" style="font-size:58px;"></i>
        </div>

        <!-- TITLE -->
        <h2 class="mb-2" style="font-weight:700;">
            Inventory & Billing Management System
        </h2>
        <h4 class="mb-3" style="font-weight:300; color:#ccc;">
            Flask Used Website
        </h4>

        <!-- DESCRIPTION -->
        <p style="color:#bbbbbb;">
            Welcome!
            Experience and Navigate the features using the menu above.
        </p>

        <!-- BUTTON -->
        <a class="btn btn-primary mt-3 px-4" href="{{ url_for('register_page') }}">
            Go to Register Page
        </a>

    </div>

</div>

{% endblock %}
